@import url('https://fonts.googleapis.com/css?family=Anton');

body {
  margin: 0;
}

#container {
  display: flex;
  flex-direction: row;
}

#left {
  min-width: 500px;
  height: 100vh;
  background-image: url('./public/wyatt.jpg');
  background-size: cover;
  background-color: hsl(0, 0%, 10%);
  background-blend-mode: luminosity;
}

#right {
  font-family: 'Anton', sans-serif;
  color: black;
  background: #2afbce;
  flex-grow: 1;
}

main {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30%;
}

@media (max-width: 730px) {
  #container {
    flex-direction: column;
  }

  #left {
    min-width: 0;
  }

  main {
    margin-top: 0;
  }
}
