@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100vh;
}


.contentBlock {
  background: #2afbce;
  color: black;
  flex-grow: 1;
}

.hpMainContent {
  max-width: 500px;
  margin: 30% auto 0;
}

.mainImage {
  background-color: hsl(0, 0%, 10%);
  background-blend-mode: luminosity;
  background-image: url('./public/wyatt.jpg');
  background-size: cover;
  min-width: 500px;
}

a {
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  margin: 0;
}

h2 {
  font-weight: 700;
}

@media (max-width: 800px) {
  #container {
    flex-direction: column;
  }

  .mainImage {
    height: 50vh;
    min-width: 0;
  }

  main {
    margin-top: 0;
  }
}
